<app-header></app-header>
<div class="background" [style.background]="backGroundStyle">
    <div class="sun" *ngIf="showSun"></div>
    <div *ngIf="showClouds" class="cloud" [ngClass]="{'winter': darkClouds}" [ngStyle]="{'background': darkClouds ? 'grey' : 'white'}"></div>
    <div *ngIf="showClouds" class="cloud first" [ngClass]="{'winter': darkClouds}" [ngStyle]="{'background': darkClouds ? 'grey' : 'white'}"></div>
    <div *ngIf="showClouds" class="cloud second" [ngClass]="{'winter': darkClouds}" [ngStyle]="{'background': darkClouds ? 'grey' : 'white'}"></div>
    <div *ngIf="showClouds" class="cloud third" [ngClass]="{'winter': darkClouds}" [ngStyle]="{'background': darkClouds ? 'grey' : 'white'}"></div>
    <div *ngIf="showClouds" class="cloud forth" [ngClass]="{'winter': darkClouds}" [ngStyle]="{'background': darkClouds ? 'grey' : 'white'}"></div>
    <div class="rain" *ngIf="showRain">
    <div *ngFor="let position of dropPositionList" class="drop"
    [style.left]="position + '%'" [style.animation-delay]="'0.' + position + 's'"
    [style.animation-duration]="'0.5' + position + 's'" [style.bottom]="position/5 + '%'">
        <div class="stem" [style.animation-delay]="'0.' + position + 's'"
        [style.animation-duration]="'0.5' + position + 's'" >
         </div>
        </div>
    </div>
    </div>
<router-outlet></router-outlet>

